.DS_Store
/data/*
!/data/.gitkeep

# My gitignore files and folders
*.sqlite
.etl_pipeline
.etl_test_pipeline

## JupyterNotebooks ##
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py
